<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gdg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0248AE91D5331A5003E3B00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0248B001D5331A5003E3B00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0248B0B1D5331A5003E3B00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
